{% extends "base.html" %}
{% block navbar %}
   {% with page=1 %}
     {{ block.super }}
   {% endwith %}
{% endblock %}

{% block body %}
<div class="container mt-3"> 
  <table class="table table-bordered">
    <tr class="text-center">
      <th style="width:5%">STT</th>
      <th style="width:15%">Mã</th style="width:5%">
      <th style="width:15%">Tên</th style="width:5%">
      <th style="width:25%">Mô tả</th style="width:5%">
      <th style="width:25%">Ảnh</th style="width:5%">
      <th style="width:15%">Chức năng</th>
    </tr>
    {% for p in products %}
    <tr class="text-center">
      <td>{{ forloop.counter }}</td>
      <td>{{ p.code }}</td>
      <td>{{ p.name }}</td>
      <td>{{ p.description }}</td>
      <td><img style="max-height: 200px;" src='{{p.image.url}}'></td>
      <td>
        <a class="btn btn-sm btn-primary" href='{% url "product-update" p.id %}'>Chỉnh sửa</a>
        <a class="btn btn-sm btn-danger" href='{% url "product-delete" p.id %}'>Xóa</a>
      </td>
    </tr>
    {% endfor %}
  </table>

  <a class="btn btn-primary" href='{% url "product-create" %}'>Tạo mới sản phẩm</a>
</div>
{% endblock %}