<meta charset="UTF-8">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" >
<link rel="stylesheet" href="/static/css/main.css">

<div id="app">
    <div class="container mt-5">    
        <div class="row">
            <div class="col-9">
                <div style='display:none'>
                    <label class='label-title'>Không tìm thấy sản phẩm</label>
                </div>
                <ul class="list-unstyled row">
                    {% for p in productList %}
                    <li class="list-item col-sm-4 mt-3">                    
                        <div class='item-container'>
                            <a href="{% url 'product-view' p.id %}" class='product-item'>
                                <img src="{{p.image.url}}"  class='product-image'>
                                <div class="item-info">
                                    <div>
                                        <span class='product-name'>{{p.name}}</span>
                                    </div>
                                    <div>
                                        <span class='price-title'>Giá bán :</span> <span class='price'>{{p.price}} ₫</span>
                                    </div>
                                </div>
                            </a>
                        </div>                    
                    </li>
                    {% endfor %}
                </ul>
            </div>
            
            <div class="col-3">
                <form >
                <div class="mt-5">
                    <label class='label-title'>Tên sản phẩm</label>
                    <input name='product_name' value="{{queryParams.product_name}}" class="form-control" placeholder="Nhập tên sản phẩm" >
                </div>
                
                <div class="mt-4">
                    <label class='label-title'>Hãng sản xuất</label>
                    <select name ='category_id' class="form-control">
                        <option value="">Tất cả</option>
                        {% for c in categoryList %}
                        <option {% if c.id == queryParams.category_id|add:0 %} selected {% endif %} value="{{c.id}}">{{c.name}}</option>
                        {% endfor %}
                        <!-- add chuyển từ string sang số nguyên -->
                    </select>
                </div>
                
                <div class="mt-4">
                    <label class='label-title'>Mức giá</label>
                    <select name ='price_range' class="form-control">
                        <option value="">Tất cả</option>
                        <option {% if queryParams.price_range == '1' %} selected {% endif %} value="1">Dưới 10 triệu</option>
                        <option {% if queryParams.price_range == '2' %} selected {% endif %} value="2">Từ 10 đến 15 triệu</option>
                        <option {% if queryParams.price_range == '3' %} selected {% endif %} value="3">Từ 15 đến 20 triệu</option>
                        <option {% if queryParams.price_range == '4' %} selected {% endif %} value="4">Trên 20 triệu</option>
                    </select>
                </div>                
                
                <br>
                <button class="btn btn-primary">Tìm kiếm</button>
            </form>
            </div>
            
        </div>    
    </div>
</div>
