<meta charset="UTF-8">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" >
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<link rel="stylesheet" href="/static/css/main.css" >
<script src="/static/js/main.js"></script>
<div class='container pt-3'>
  <form method="POST" novalidate>
    {% csrf_token%}
    
    <h4>Đặt mua hàng trực tuyến</h4>
    <table class="table table-form">
      <tr>
        <th colspan="2">
          <h5>Thông tin sản phẩm</h4>
        </th>
      </tr>
      <tr>
        <th>Sản phẩm:</th>
        <td>
          <img src="/{{product.image.url}}" style="max-height: 100px;">
          <br>
          <span>{{product.name}}</span>
        </td>
      </tr>
      <tr>
        <th>Giá:</th>
        <td>{{product.price}} ₫</td>
      </tr>

      <tr>
        <th colspan="2">
          <h5>Thông tin người mua hàng</h4>
            {{form}}
        </th>
      </tr>
      
    </table>
    <button type='submit' class="btn btn-primary">Tiếp tục</button>
  </form>
</div>
